In [1]:
'''
1) store marks of 5 subjects
	here use marks as actual data and subject names as indexes.
accept both marks and subjects from the user.
'''
import pandas as py
marks=[]
for i in range(0,5):
    marks1=int(input("Enter a marks"))
    marks.append(marks1)
print(marks)
s_name=[]
for j in range(0,5):
    name=input("Enter a student name")
    s_name.append(name)
print(s_name)
student=py.Series(marks,index=s_name)
print(student)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
'''
2) create dictionary to store player name and runs scored of at least 5 players. Display it. Now convert this dictionary â€Œinto Series object and print it.
'''import pandas as py
mydict={"virat":90,"rohit":120,"rahul":40,"dhoni":100,"suryakumar":75}
print(mydict)
series_obj=py.Series(mydict)
print(series_obj)

import pandas as py
mydict={"virat":90,"rohit":120,"rahul":40,"dhoni":100,"suryakumar":75}
print(mydict)
series_obj=py.Series(mydict)
print(series_obj)

In [ ]:
'''
3) accept 10 values and store them in the Series. Now perform following operations:

a) display the entire Series
b) extract 3rd element
c) extract elements from 4 to 7
d) extract elements from fourth last till the last element
e) extract first 3 elements
f) extract elements from the 5th position
'''

import pandas as py
mylist=[]
for i in range(0,10):
    value=int(input("Enter a number"))
    mylist.append(value)
print(mylist)
print("converting my list to series")
series1=py.Series(mylist)
print(series1)
print("\n")
print(series1[0:])#printing entire series
print("\n")
print(series1[3])
print("\n")
print(series1[4:8])
print("\n")
print(series1[-4:])
print("\n")
print(series1[0:3])
print("\n")
print(series1[5])

In [1]:
'''
4) accept 5 values in a Series and perform the following operations:
	a) display their sum
	b) add the value accepted from the user
	c) subtract the value accepted from the user
	d) multiply the value accepted from the user
	e) add the value accepted from the user
 '''
 from pandas import *
list=[]
for i in range(0,5):
    value=int(input("Enter a value to insert"))
    list.append(value)
print(list)
series1=Series(list)
print(series1)
print("\n")
print(series1.sum())
number=int(input("Ente a number"))
print(series1.add(number))
print("\n")
print(series1.subtract(number))
print("\n")
print(series1.mul(number))
print("\n")
print(series1.divide(number))

IndentationError: unexpected indent (526452087.py, line 9)

In [ ]:
'''
5) accept 5 names,designations and salaries and display them with DataFrame.
'''
from pandas import *
names=[]
salaries=[]
designations=[]
for i in range(0,5):
    n=input("enter a name")
    s=int(input("enter a salary"))
    d=input("Enter a position")
    names.append(n)
    salaries.append(s)
    designations.append(d)
data={"Name":names,
      "Salaries":salaries,
      "Designations":designations
}
df=DataFrame(data)
print(df)

In [2]:

#6) create a csv file (with whatever columns and rows you want) manually and then read using pandas.
import pandas as pd
df=pd.read_csv("C:/DBDA/python/Day_9/Day_9/Pandas/Examples/Bookname.csv")
print(df)

              bookname  Unnamed: 1           author  Unnamed: 3
0            alchemist         NaN   pauelo chohelo         NaN
1   rich dad poor dad          NaN  robert kiyosaki         NaN
2  pyschology of money         NaN    morgan housel         NaN

In [3]:
'''
7) create "Vita.xlsx" using pandas. In this Excel file you have to create 2 sheets "DBDA", and "DAC". 
in each sheet you have to write name,address and age of all the team leaders.
make sure Excel file gets created successfully.
'''
from pandas import *
name=["dhoni","virat","rohit","rahul"]
age=[38,27,33,29]
address=["ranchi","delhi","mumbai","tamilnadu"]
mydict1={"Name":name,
         "Age": age,
         "Address": address
         }
print(mydict1)
name=["gill","pandya","samson","suryakumar"]
age=[35,28,31,34]
df=DataFrame(mydict1)
print(df)
address=["delhi","rajkot","kerla","mumbai"]
mydict2={"Name":name,
         "Age": age,
         "Address": address
         }
print(mydict2)
df1=DataFrame(mydict2)
print(df1)
df.to_excel("Vita.xlsx",sheet_name="DBDA",index=False)
df1.to_excel("Vita.xlsx",sheet_name="DAC",index=False)

{'Name': ['dhoni', 'virat', 'rohit', 'rahul'], 'Age': [38, 27, 33, 29], 'Address': ['ranchi', 'delhi', 'mumbai', 'tamilnadu']}
    Name  Age    Address
0  dhoni   38     ranchi
1  virat   27      delhi
2  rohit   33     mumbai
3  rahul   29  tamilnadu
{'Name': ['gill', 'pandya', 'samson', 'suryakumar'], 'Age': [35, 28, 31, 34], 'Address': ['delhi', 'rajkot', 'kerla', 'mumbai']}
         Name  Age Address
0        gill   35   delhi
1      pandya   28  rajkot
2      samson   31   kerla
3  suryakumar   34  mumbai